$TextColor: rgb(255, 255, 255);
//body-left
$body-background-left-dark: rgb(50, 48, 95);
$body-background-left-light: rgb(240, 245, 255);
//body-right
$body-background-right-dark: rgb(44, 43, 83);
$body-background-right-light: rgb(255, 255, 255);
//header-text
$header-text-dark: rgb(255, 255, 255);
$header-text-light: rgb(91, 145, 255);
//text
$text-dark: rgb(255, 255, 255);
$text-light: rgb(0, 0, 0);
//component-background-chosen
$component-background-chosen-dark: rgb(128, 170, 255);
$component-background-chosen-light: rgb(106, 155, 255);
//component-background-switcher-day
$component-background-switcher-day-dark: rgb(61, 59, 113);
$component-background-switcher-day-light: rgb(255, 255, 255);
//component-background-TSS
$component-background-TSS-dark: rgb(50, 48, 95);
$component-background-TSS-light: rgb(255, 248, 240);

:root {
    //body-left
    --body-background-left-dark: #{$body-background-left-dark};
    --body-background-left-light: #{$body-background-left-light};
    --body-background-left-default: var(#{$body-background-left-dark});
    //body-right
    --body-background-right-dark: #{$body-background-right-dark};
    --body-background-right-light: #{$body-background-right-light};
    --body-background-right-default: var(#{$body-background-right-dark});
    //header-text
    --header-text-dark: #{$header-text-dark};
    --header-text-light: #{$header-text-light};
    --header-text-default: var(#{$header-text-dark});
    //text
    --text-dark: #{$text-dark};
    --text-light: #{$text-light};
    --text-default: var(#{$text-dark});
    //component-background-chosen
    --component-background-chosen-dark: #{$component-background-chosen-dark};
    --component-background-chosen-light: #{$component-background-chosen-light};
    --component-background-chosen-default: var(#{$component-background-chosen-dark});
    //component-background-switcher-day
    --component-background-switcher-day-dark: #{$component-background-switcher-day-dark};
    --component-background-switcher-day-light: #{$component-background-switcher-day-light};
    --component-background-switcher-day-default: var(#{$component-background-switcher-day-dark});
     //component-background-TSS
     --component-background-TSS-dark: #{$component-background-TSS-dark};
     --component-background-TSS-light: #{$component-background-TSS-light};
     --component-background-TSS-default: var(#{$component-background-TSS-dark});
}