.MainBG{
    height: 100%;
    display: flex;
}

.MainLeftSide{
    width: 65%;
    background-color: var(#{--body-background-left-default});
}

.MainRightSide{
    width: 35%;
    background-color: var(#{--body-background-right-default});
}

.MainLeftSunsetAndGoForAWalk{
    display: flex;
}